@use 'styles/tokens' as *;
@use 'styles/reset' as *;
@use 'styles/typography' as *;
@use 'styles/mixins' as *;

@import 'primeicons/primeicons.css';

.p-inputnumber-input {
  width: 100%;
  min-width: 0;
}

.p-inputnumber {
  width: 100%;
}
